
/* model.css */

/* model_noti */
.msg_wrapper_right {
    position: relative;
    left: 8vw;
    width: auto;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.1);
    background-color:#fff;
    border-radius: 15px;
    margin: 2.5em 5vw;
    margin-top: -3vw;
}

.unread_dot {
    position: relative;
    border-radius: 66px;
    top: 10vw;
    left: 5vw;
    height: 3vw;
    width: 3vw;
    background-image:linear-gradient(135deg,#80efe3, #16c2c3);    
}

/* model_a */
.msg_wrapper {
    width: auto;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.1);
    background-color:#fff;
    border-radius: 15px;
    margin: 0em 5vw;
    margin-bottom: 5vw;
}

.msg_notifications {
    position: relative;
    padding: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.left_msg_notifications {
    width: 7em;
    height: 7em;
    border-radius: 66px;
    background-image:linear-gradient(135deg,#80efe3, #16c2c3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_msg_pic {
    margn: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 3em;
    width: 3.5em;
}

.right_msg_notifications {
    position: relative;
    left: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right_title_msg {
    line-height: 2em;
    text-align: left;
    font-size: 2em;
    color: #404b69;
}

.right_sub_msg {
    line-height: 2em;
    text-align: left;
    font-size: 1.5em;
    color: #aab2b7;
}

.right_arrow_msg {
    position: absolute;
    right: 5vw;
    width: 1.5em;
    height: 2.5em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

.right_arrow_msg_2 {
    position: absolute;
    right: 5vw;
    width: 2em;
    height: 3em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

/* model_b */
.msg_notifications_b {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.msg_wrapper_b {
    width: auto;
    background-color: #transport;
    border-radius: 15px;
    margin: 0em 5vw;
    margin-bottom: 5vw;
}

.left_msg_pic_b {
    margn: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 3em;
    width: 3.6em;
}

.left_msg_notifications_b {
    width: 8em;
    height: 8em;
    border-radius: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-size: 50% 50%;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.1);
}

.right_title_msg_b {
    line-height: 2em;
    text-align: left;
    font-size: 2em;
    color: #fff;
}

.right_sub_msg_b {
    text-align: left;
    font-size: 1.5em;
    color: #fff;
}

/* model_c */
.msg_wrapper_c {
    width: auto;
    border-radius: 15px;
    margin: 0em 5vw;
}

.msg_notifications_c {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left_msg_pic_c {
    margn: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 3em;
    width: 3.6em;
}

.left_msg_notifications_c {
    width: 7em;
    height: 7em;
    border-radius: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #transport;
    background-size: contain;
}

.right_msg_notifications_c {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}   

/* model_d */
.msg_wrapper_d {
    position: relative;
    width: auto;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.1);
    background-color:#fff;
    border-radius: 15px;
    margin: 2.5em 5vw;
    padding-top: 4vw;
}

.left_msg_notifications_d {
    width: 7em;
    height: 7em;
    border-radius: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_msg_pic_d {
    margn: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 3em;
    width: 3.6em;
}

.right_arrow_msg_d {
    position: absolute;
    right: 5vw;
    width: 8em;
    height: 8em;
    border: 2px solid #80efe3;
    border-radius: 66px;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.right_arrow_msg_d_filled {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5vw;
    width: 8em;
    height: 8em;
    color: white;
    border-radius: 66px;
    background-image:linear-gradient(135deg,#80efe3, #16c2c3);
}

.msg_notifications_d {
    padding: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.big_title_msg_d {
    position: relative;
    left: 5vw;
    font-size: 2em;
    text-align: left;
    margin-bottom: 0.5em;
}

/* model_e */
.slide_area_detail {
    bottom: 2vw;
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    text-align: justify;
    margin-right: 5vw;
    margin-left: 5vw;
}

@keyframes slide_in {
    from { left: 100vw }
    to { left: 0vw }
}

@-webkit-keyframes slide_in {
    from { left: 100vw }
    to { left: 0vw }
}

.msg_wrapper_e {
    display: inline-block;
    position: relative;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 15px;
    margin: 2.5em 10px;
    margin-right: 5vw;
    animation: slide_in .3s;
    -webkit-animation: slide_in .3s;
}

.right_arrow_msg_e {
    right: 5vw;
    width: 6em;
    height: 6em;
    border: 2px solid #80efe3;
    margin-left: 5vw;
    border-radius: 66px;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.right_arrow_msg_e_filled {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    width: 6em;
    height: 6em;
    color: white;
    border-radius: 66px;
    background-image:linear-gradient(135deg,#80efe3, #16c2c3);
}

.right_title_msg_e {
    line-height: 2em;
    text-align: left;
    font-size: 2em;
    color: #404b69;
}

/* model_f */
.msg_wrapper_f {
    bottom: 5vw;
    position: relative;
    width: auto;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.1);
    background-color:#fff;
    border-radius: 15px;
    margin: 2.5em 5vw;
}

.msg_notifications_f {
    padding: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
}

.left_msg_pic_f {
    margn: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 3.6em;
    width: 3.6em;
}
