/* components */

/* navigator */
.navigator {
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
}

.left_navigator {
    left: 5vw;
    width: 7em;
    height: 7em;
    position: absolute;
    background-position: center;
    background-size: 1.5em 2.5em;
    background-repeat: no-repeat;
}

.label_navigator {
    margin: auto;
    font-size: 2.5em;
    font-weight: 900;
    position: relative;
}

/* br */
.br {
    margin: 0 5vw;
    margin-bottom: 1em;
    border: 1.5px solid #fff;
}

.card_br_black {
    margin: 0 5vw;
    margin-top: 1em;
    border: 1.5px solid #eee;
}

/* model */
.wrapper_model {
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(21, 32, 36, .7);
}

.card_model {
    width: 92%;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.1);
}

.card_head_model {}
.card_body_model {}
.card_body_top_array {
    margin: 0 5vw;
    margin-left: 7vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5em 0;
}

.card_foot_model {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1em 0;
    padding-right: 5vw;    
}

.card_grey_font {
    color: #aab2b7;
    margin-left: 0.5em;
}

.card_little_pic {
    width: 2.7em;
    height: autoem;
    margin-right: 1em;
    background-repeat: no-repeat;
    background-size: 2.7em 2.7em;
    background-position: center;
}

.card_middle_pic {
    width: 2.5em;
    height: 2.5em;
    border: 3px solid #89efe3;
    margin-left: 2em;
    margin-right: 1em;
    border-radius: 66px;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.card_row_cover_pic {
    height: 21em;
    width: 100%;
    margin: 1em 0;
    margin-bottom: 2em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card_creep_words_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 5vw;
}

.card_fall_words_wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 7vw;
}

.card_fall_words_wrapper > div {
    text-align: left;
}

.pic_and_words_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 5vw;
    margin-left: 3vw;
    margin-top: 2em;
    justify-content: flex-start;
    align-items: center;
}

.card_fall_words_wrapper, .pic_and_words_wrapper > div {
    font-size: 1.8em;
    line-height: 1.3em;
    margin-bottom: 0.5em;
}

.card_creep_words_wrapper > div {
    color: #aab2b7;
    font-size: 1.75em;
    line-height: 2em;
    padding: 0 0.5em;
    margin-right: 0.3em;
    margin-bottom: 0.5em;
}

.card_creep_words {
    border-radius: 33px;
    border: 2px solid #54d1ce;
    background-color: #f9fefe;
}

.card_column_white_space {
    display: block;
    height: 1.5em;
    width: 100%;
}

.card_normal_words { white-space: nowrap }
.card_middle_pic_2 {
    width: auto;
    height: 21em;
    margin: 1em 5vw;
    margin-bottom: 2em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 26px;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.1);
}
