@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}

* {
    font-family: 'Montserrat', sans-serif;    
    font-weight: 900;
    color: #020433;
    text-align: center;
    overflow: hidden;
    moz-user-select: -moz-none; 
    -moz-user-select: none; 
    -o-user-select:none; 
    -khtml-user-select:none; 
    -webkit-user-select:none; 
    -ms-user-select:none; 
    user-select:none;
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
}

body {
    position: fixed;
    width: 100vw;
}

#tachion {
    height: 100%;
    width: 100%;
}

.page {
    height: 100%;
    width: 100%;
    display: fixed;
    justify-content: center;
}

.safe {
    position: relative;
    height: 100%;
    width: 100%;
    top: 5%;
    margin: auto;
}

.logo_tachion {
    background: center / cover no-repeat url(../assets/components/tachion.svg);
}
