@import 'font.css';
* {    
    font-family: 'Montserrat', sans-serif;
    color: #020433;
    line-height: 2em;
    font-weight: 500;
    text-align: center;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    user-select:none;
    margin: 0;
    padding: 0;
    text-align: left;
}

html {
    overflow: hidden;
    font-size: 16px;
}

body {
    -webkit-overflow-scrolling: touch;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: fixed;
}

#tachion {
    height: 100%;
    width: 100%;
}

.page {
    height: 100%;
    width: 100%;
    display: fixed;
    justify-content: center;
}

.safe {
    position: relative;
    height: 100%;
    width: 100%;
    top: 12em;
    margin: auto;
}

.logo_tachion {
    background: center / cover no-repeat url(../assets/components/tachion.svg);
}
