/* notifications.css */
.page_notifications {
    /* #fafafa */
    background-color: #fafafa;
}

.safe_notifications {
    height: 100%;
    width: auto;
    margin: auto;
    position: relative;
    top: 12em;
}

.left_navigator {
    position: relative;
    width: 1.5em;
    height: 2.5em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 3nem;
}

.read_notifications {
    width: auto;
    margin: 0;
    position: relative;
}

.unread_notifications {
    margin: 0 auto;
    position: relative;
}
