/* pics.css */
/* Background */
.page_home {
    background: center / cover no-repeat url('../assets/bgs/home@2x.png'),
                linear-gradient(to bottom right, #80efe3 , #16c2c3);
}
.page_welcome {
    background: center / cover no-repeat url(../assets/bgs/welcome@2x.png);
}

.logo_finger {
    background: center / cover no-repeat url(../assets/components/finger.svg);    
}

.card_a_wrapper_bg {
    background: center / 50% 40% no-repeat url('../assets/detail/bg.png'),
                center no-repeat linear-gradient(to bottom right, #80efe3 , #16c2c3);
}

/* Components */
.left { background-image:  url('../assets/components/left.svg')}
.right { background-image:  url('../assets/components/right.svg')}
.right_white { background-image:  url('../assets/components/right_white.svg')}
.arrow { background-image:  url('../assets/components/arrow.svg')}

/* Panel */
.work { background-image:  url('../assets/panel/work.svg')}
.store { background-image:  url('../assets/panel/store.svg')}
.space { background-image:  url('../assets/panel/space.svg')}
.wallet { background-image:  url('../assets/panel/wallet.svg')}
.social { background-image:  url('../assets/panel/social.svg')}
.about { background-image:  url('../assets/panel/about.svg')}
.investment { background-image:  url('../assets/panel/investment.svg')}

/* Notifications */
.noti_space { background-image:  url('../assets/notifications/noti_space.svg')}
.noti_social { background-image:  url('../assets/notifications/noti_social.svg')}
.noti_store { background-image:  url('../assets/notifications/noti_store.svg')}
.noti_work { background-image:  url('../assets/notifications/noti_work.svg')}
.noti_wallet { background-image:  url('../assets/notifications/noti_wallet.svg')}


/* Detail */
.icon_1_1 { background-image:  url('../assets/detail/icon_1_1.svg')}
.icon_1_2 { background-image:  url('../assets/detail/icon_1_2.svg')}
.icon_1_3 { background-image:  url('../assets/detail/icon_1_3.svg')}
.icon_1_4 { background-image:  url('../assets/detail/icon_1_4.svg')}
.icon_1_5 { background-image:  url('../assets/detail/icon_1_5.svg')}
.icon_2_1 { background-image:  url('../assets/detail/icon_2_1.svg')}
.icon_2_2 { background-image:  url('../assets/detail/icon_2_2.svg')}
.icon_3_1 { background-image:  url('../assets/detail/icon_3_1.svg')}
.icon_3_2 { background-image:  url('../assets/detail/icon_3_2.svg')}

/* Tapp */
.service_space_1 {background-image:  url('../assets/tapp/space-1.svg')}
.service_space_2 {background-image:  url('../assets/tapp/space-2.svg')}
.service_space_3 {background-image:  url('../assets/tapp/space-3.svg')}
.service_space_4 {background-image:  url('../assets/tapp/space-4.svg')}
.service_social_1 {background-image:  url('../assets/tapp/social-1.svg')}
.service_social_2 {background-image:  url('../assets/tapp/social-2.svg')}
.service_social_3 {background-image:  url('../assets/tapp/social-3.svg')}
.service_social_4 {background-image:  url('../assets/tapp/social-4.svg')}
.service_store_1 {background-image:  url('../assets/tapp/store-1.svg')}
.service_store_2 {background-image:  url('../assets/tapp/store-2.svg')}
.service_store_3 {background-image:  url('../assets/tapp/store-3.svg')}
.service_store_4 {background-image:  url('../assets/tapp/store-4.svg')}
.service_work_1 {background-image:  url('../assets/tapp/work-1.svg')}
.service_work_2 {background-image:  url('../assets/tapp/work-2.svg')}
.service_work_3 {background-image:  url('../assets/tapp/work-3.svg')}
.service_work_4 {background-image:  url('../assets/tapp/work-4.svg')}
.service_wallet_1 {background-image:  url('../assets/tapp/wallet-1.svg')}
.service_wallet_2 {background-image:  url('../assets/tapp/wallet-2.svg')}
.service_wallet_3 {background-image:  url('../assets/tapp/wallet-3.svg')}
.service_wallet_4 {background-image:  url('../assets/tapp/wallet-4.svg')}

/* Detail */
.detail_space {background-image:  url('../assets/detail/detail_space.svg')}
.detail_social {background-image:  url('../assets/detail/detail_social.svg')}
.detail_store {background-image:  url('../assets/detail/detail_store.svg')}
.detail_work {background-image:  url('../assets/detail/detail_work.svg')}
.detail_wallet {background-image:  url('../assets/detail/detail_wallet.svg')}

.card_b_space {background-image:  url('../assets/detail/card_b/space.svg')}
.card_b_social {background-image:  url('../assets/detail/card_b/social.svg')}
.card_b_store {background-image:  url('../assets/detail/card_b/store.svg')}
.card_b_work {background-image:  url('../assets/detail/card_b/work.svg')}
.card_b_wallet {background-image:  url('../assets/detail/card_b/wallet.svg')}

/* Model */
.foot_health { background-image:  url('../assets/model/foot_health.svg')}
.chart {background-image:  url('../assets/model/chart.svg')}
