/* welcome */
.content_top_welcome {
    position: relative;
    height: 24em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.font_bold_welcome {
    color: black;
    line-height: 1.5em;
    font-size: 4.5em;
    font-weight: bolder;
}

.font_regular_welcome {
    color: black;
    line-height: 1.3em;
    font-size: 2.5em;
    font-weight: bold;
}

/* logo_wrapper */
.logo_wrapper_welcome {
    margin-top: 3em;
}

.logo_welcome {
    position: relative;
    margin: 3em auto;
    margin-top: 2em;
    height: 16em;
    width: 16em;
}

.wrapper_model_welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ANIMATION */
.changing_text {
    margin-top: 2em;
    height: 2em;
}

.progress_bar {
    margin: 1em 0;
    height: 1em;
    width: 30em;
    border-radius: 33px;
}

.injecting {
    background-image:linear-gradient(135deg,#80efe3, #16c2c3);
    animation: stretch 3s;
}

@keyframes stretch {
    from { width: 0 }
    to { left: 45em }
}

@-webkit-keyframes stretch {
    from { left: 0 }
    to { left: 45em }
}



/* Phone */
@media (min-device-height: 750px) {
    .content_top_welcome { padding-top: 13em }
}
@media (max-device-height: 750px) {
    .content_top_welcome { padding-top: 6em }
}

/* Pad */
@media (min-device-width: 750px) {
    .content_top_welcome {
        height: 18em;
        margin-top: 3em
    }

    .logo_welcome {
        top: -1em;
    }
}
